body {
    margin: 0;
    padding: 0; 
    background-color: #E4DFDA; 
    font-family: 'Poppins', sans-serif;
    color: #2A2f33;
    font-size: 18px; 
}

nav {
    background-color: rgb(210, 227, 240);
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: white; 
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    border-radius: 2px;
    background-color: #bcd5c8; 
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    
}

nav a:hover {
    background-color: #bf3d57; 
    color: #fff;
}

footer {
    background-color:rgb(0, 0, 0); 
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

footer a {
    color: rgb(255, 255, 255); 
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    border-radius: 2px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

footer a:hover {
    background-color: #bf3d57; 
    color: white;
}

footer a img {
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
}

section {
    padding: 30px;
}

a {
    color: #1e90ff; 
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #fc7fbd;
}

hr {
    border-top: dotted #d0c3e3 12px; 
    border-bottom: none; 
    width: 25%; 
    margin: 100px auto 80px auto; 
    }


img {
    border: 4px solid #fff;
    border-radius: 12px;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px;
}


.one {
    /*background-image: url('https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?q=80&w=2952&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');*/  
    /* background-attachment: fixed;
    background-position: 50% 75%; */ 
    background-color: white;
    width: auto;
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    display: flex;
    align-items: center; 
}

.one .content{
    position: relative; 
}   

.one img {
    width: 35%; 
    height: auto; 
    border: 4px solid #fff;
    border-radius: 12px;
    object-fit: cover;
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 200px;
}

.one .text-overlay {
    position: absolute;
    top: 175px;
    left: 630px;
    padding: 10px;
    color: white; 
}
  
.one .text-overlay h1,
.one .text-overlay h2 {
    margin: 0; 
}

.top1, .top2, .top3, .top4{
    position: absolute;
}

.top1 {
    top: 293px;
    left: 1015px;
    width: 120px;
}

.top2 {
    top: 345px;
    left: 1025px;
    width: 100px;
}

.top3 {
    top: 393px;
    left: 1025px;
    width: 85px;
    height: 30px;
}

.top4 {
    top: 447px;
    left: 975px;
    width: 200px;
    height: 40px;
}

.top1 img,
.top2 img,
.top3 img,
.top4 img {
    border: none; 
    border-radius: 2px;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px;
}

h1 {
    font-size: 2.5em; 
    font-family: 'Gabarito', slab-serif;
    color: white;    
    font-size: 80px; 
}

h2 {
    font-size: 40px; 
    color: white;
    margin-bottom: 20px; 
    font-family: 'Lobster', sans-serif;
}

.one h2 {
    color: rgb(0, 0, 0); 
    text-align:end;
    font-family: 'Assistant', sans-serif; 
}

.two h2 {
    text-shadow: 2px 2px #afafaf;
}

h3 {
    color: white; 
    background-color:rgb(210, 227, 240);
}

.two {
    text-align: center; 
    padding-bottom: 5px; 
}

.three {
    background-color: #bcd5c8; 
    text-align: center; 
    padding-bottom: 40px; 

}

.highlight {
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
    animation: 1.5s highlight 1.5s 1 normal forwards;
background-color: none;
background: linear-gradient(90deg, #bcd5c8 50%, rgba(255, 255, 255, 0) 50%);
background-size: 300% 100%;
background-position: 100% 0;
}

@-webkit-keyframes highlight {
to {
background-position: 0 0;
}
}

@keyframes highlight {
to {
background-position: 0 0;
}
}

.card {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 15px; 
    margin-bottom: 10px; 
    border-radius: 15px;
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.three-col {
    display: grid;
    /*background-color: #bcd5c8;*/ 
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    padding-left: 150px;
    padding-right: 150px; 
}

.three-col .card {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 15px;
    transition: box-shadow 0.3s ease-in-out;
}

.three-col .card img {
    width: 100%;
    height: 200px; 
    border: none;
    border-radius: 8px;
    object-position: top;
    object-fit: cover; 
    display: block; 
}

.three-col .card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

dl {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

li {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-bottom: 30px;
}

dt {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
}

.contact {
    text-align: center;
}

.one-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px; 
}

form {
    width: 475px; 
    margin: 0 auto; 
}

form input[type="text"],
form input[type="email"] {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

form button[type="submit"] {
    border-radius: 8px;
    width: 50px;
    height: 30px;
    padding: 5px; 
    font-size: 12px; 
}

.social-container {
    text-align: center;
    margin-top: 20px;
    
}

.social-box {
    display: flex;
    justify-content: center;
}

.social-box a {
    display: inline-block;
    margin: 0 15px;
    padding: 10px;
    width: 40px; 
    height: 40px; 
    background-color: #acacac;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.social-box a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.social-box a:hover {
    transform: scale(1.2);
    background-color: rgb(210, 227, 240); 
}